@import 'variable';
@import 'mixins';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
	z-index: 1;
}

body {
	overflow-x: hidden;
}

:root {
	--heightCloseLine: 2px;
	--afterBtnClose: rotate(0deg);
	--beforeBtnClose: rotate(0deg);
	--btnCloseLineColor: #000;
	--btnCloseCenterLineColor: #000;
	--menuCenterLineHoverMarginBottom: 6px;
	--menuCenterLineHoverMarginTop: 20px;
	--lineCenterPosition: absolute;
}

.centerContainer {
	margin-left: 9.5vw;
	width: 81vw;
}

.nonStylesLinkTeg {
	text-decoration: none;
	color: #000;
	transition: $timeMainTransition;
}

.head {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20vw;
	height: 55px;
	box-shadow: 4px 5px 4px 0 rgba(0, 0, 0, 0.25);
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 100;

	&__logo {
		height: 35px;
		width: 34px;
		transition: all 0.2s ease-in;
	}

	&__logo:hover {
		opacity: 0.7;
	}

	&__nav-menu {
		display: flex;
		gap: 1.5vw;

		&_btnClose {
			color: #6b6b6b;
			display: none;
		}
	}

	&__nav-menu a {
		height: 1rem;
		display: flex;
		align-items: center;
		@include subtitleFont();
		font-size: 0.75rem;
	}

	&__nav-menu a:hover {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid;
		border-image: linear-gradient(to right, #fff, #FB3A61, #fff) 47% 0%;
	}

	&__userFunctions {
		display: flex;
		align-items: center;
		gap: 0.65vw;
		position: relative;

		&_wrupper-basket {
			position: relative;
		}

		&_countBuy {
			display: flex;
			justify-content: center;
			position: absolute;
			bottom: 16px;
			left: 16px;
			width: 9px;
			height: 9px;
			border-radius: 50%;
			background-color: $colorSelectSite;
			font-size: 0.5rem;
		}

		.countBuyOtherPage {
			background-color: $colorSelectSite;
		}

		.countBuyOrderPage {
			background-color: #000;
			color: #fff;
		}

		&_account {
			background-image: url("../images/home_page/account_black.svg");
			background-size: cover;
			width: 20px;
			height: 20px;
			transition: all 0.2s ease-out;
		}

		&_account:hover {
			background-image: url("../images/home_page/account_color.svg");
		}

		&_accountPageRegistration {
			background-image: url("../images/home_page/account_color.svg");
			background-size: cover;
			width: 20px;
			height: 20px;
			transition: all 0.2s ease-out;
		}

		&_accountPageRegistration:hover {
			cursor: default;
		}

		&_manual {
			background-image: url("../images/home_page/manual_black.svg");
			background-size: cover;
			width: 20px;
			height: 20px;
			transition: all 0.2s ease-out;
		}

		&_manual:hover {
			background-image: url("../images/home_page/manual_color.svg");
		}

		&_basket {
			display: block;
			background-size: cover;
			width: 20px;
			height: 20px;
			transition: all 0.2s ease-out;
		}

		.basketOtherPage {
			background-image: url("../images/home_page/basket_black.svg");
		}

		.basketOrderPage {
			background-image: url("../images/home_page/basketHead_color.svg");
		}

		.basketOrderPage:hover {
			cursor: default;
		}

		.basketOtherPage:hover {
			background-image: url("../images/home_page/basketHead_color.svg");
		}

	}
}

/* Стили слайдера */
.sliderWrupper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 521px;
	margin-top: 109px;
	z-index: 1;
}

.blockActive {
	animation: 0.5s activeBlock linear forwards;
}

@keyframes activeBlock {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.slider {
	display: flex;
	align-items: center;

	&__imagesContainer {
		width: 100vw;
		max-width: 1600px;
		height: 460px;
		overflow: hidden;
		z-index: 1;
	}

	&__cardProduct {
		width: 100%;
		height: 460px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__cardContent {
		padding-top: 50px;
		width: 51vw;
		margin-left: 9.5vw;

		&_title {
			margin-top: 22px;
			@include titleFont();
			font-size: 2rem;
			line-height: 56px;
		}
	}

	&__imageHit {
		width: 102px;
		height: 81px;
	}

	&__imageNew {
		width: 270px;
		height: 65px;
	}

	&__contentCenter {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		position: relative;
		top: 90px;
		left: 15%;

	}

	&__switchingArrowLeft {
		width: 66px;
		height: 66px;
		border: none;
		background-color: #000;
		opacity: .7;
		position: absolute;
		left: 0.5vw;
		z-index: 2;

	}

	&__switchingArrowRight {
		width: 66px;
		height: 66px;
		border: none;
		background-color: #000;
		opacity: .7;
		position: absolute;
		right: 0.5vw;
		z-index: 2;
	}

	&__switchingArrowLeft:hover,
	&__switchingArrowRight:hover {
		opacity: 1;
	}

	&__cardButton {
		padding: 23px 46px;
		border-radius: 24px;
		background: linear-gradient(180deg, #fb3a61, #99394c, #500010);
		position: relative;
		top: 47px;
		color: #fff;
		transition: all 0.2s ease;
		@include descriptionFont();
	}

	&__cardButton:hover {
		opacity: 0.8;
	}

	&__inputsContainer {
		margin-top: 42px;
		display: flex;
		gap: 14px;
	}

	&__inputActive {
		width: 20px;
		height: 20px;
		border: 1px solid #000;
		background-color: #000;
		border-radius: 50%;
		transition: all 0.5s;
	}

	&__inputDeactive {
		width: 20px;
		height: 20px;
		border: 1px solid #000;
		background-color: #fff;
		border-radius: 50%;
		transition: all 0.5s;
	}

	&__inputDeactive:hover {
		background-color: #c5c5c5;
		cursor: pointer;
	}
}

.backgroundOfferRight {
	background-position: right;
}

.backgroundOfferCenter {
	background-position: center;

}

/* Стили блока распродажа */
.discounted {
	display: flex;
	flex-direction: column;
	margin-top: 150px;

	&__moreContainer {
		display: flex;
		align-items: center;
		gap: 14px;
		padding-bottom: 27px;
		border-bottom: 1px solid #000;
	}

	&__moreTitle {
		@include titleFont();
		font-size: 1.5rem;
	}

	&__watchMore {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 45px;
		height: 45px;
		border: 1px solid #000;
	}

	&__watchMore img {
		width: 15.7px;
		height: 13px;
	}

	&__watchMore:hover {
		opacity: 0.6;
	}

	/* Стили самой карточки для блока распродажи */
	&__cardContainer,
	&__cardContainerStock {
		display: flex;
		flex-wrap: wrap;
		gap: 2.2vw;
	}

	&__card {
		display: flex;
		flex-direction: column;
		width: 232px;
		margin-left: 5.5vw;
		margin-top: 34px;
	}

	&__photoProduct {
		height: 225px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;

		&_favourites {
			background-image: url("../images/discounted_products/favourites.svg");
			width: 32px;
			height: 32px;
			position: absolute;
			top: 0px;
			left: 155px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			transition: all 0.2 linear;
		}

		&_favourites:hover {
			background-image: url("../images/discounted_products/favouritesColor.svg");
			cursor: pointer;
		}

		/* Стили для обозначения размера акции */
		&_stock {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 50px;
			left: 149px;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background-color: #ffea00;
			@include descriptionFont();
			font-weight: 800;
		}
	}

	&__cardTitle {
		@include titleFont();
		font-size: 1.5rem;
		margin-top: 9px;
	}

	&__cardSubtitle {
		@include descriptionFont();
		font-size: 1.25rem;
		line-height: 1.3;
	}

	&__cardArticul {
		@include descriptionFont();
		font-size: 1.1rem;
		line-height: 1.5;
	}

	&__priceWrupper {
		display: flex;
		gap: 18px;
		align-items: center;
	}

	&__cardPrice {
		display: flex;
		align-items: center;
		gap: 5px;
		margin-top: 12px;
		color: $colorSelectSite;
	}

	&__cardOldPrice {
		display: flex;
		align-items: center;
		gap: 5px;
		margin-top: 12px;
		color: #ababab;
	}

	&__addBasket {
		width: 232px;
		height: 65px;
		border: 1px solid $colorSelectSite;
		border-radius: 24px;
		background-color: #fff;
		color: $colorSelectSite;
		@include subtitleFont();
		font-weight: 500;
		margin-top: 19px;
		transition: all 0.2s ease-out;
	}

	&__addBasket:hover {
		border: none;
		background-color: #000;
		color: #fff;
		cursor: pointer;
	}
}

.newPrice {
	font-size: 1.5rem;
	@include subtitleFont();
	font-weight: 600;
}

.oldPrice {
	font-size: 1.5rem;
	@include subtitleFont();
	position: relative;
}

.oldPrice:after {
	content: '';
	display: block;
	height: 0.4px;
	width: 64px;
	position: absolute;
	top: 12px;
	left: 0px;
	background-color: #ababab;
	z-index: 2;
}

.currency {
	width: 9px;
	height: 17px;
}

.currencyGrey {
	width: 16px;
	height: 16px;
	z-index: 1;
}

/* Стили инструкции по заказам */
.manual {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 135px;
	width: 100vw;

	&__title {
		font-size: 1.85rem;
		@include titleFont();
		margin-bottom: 5.5vw;
	}

	&__descriptionContainer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		width: 81vw;
		padding-top: 45px;
		padding-bottom: 45px;

		border-radius: 30px;
		background-image: linear-gradient(90deg, #fed7bf, #e6b597);

	}

	&__translucentBackground {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border: 1px solid #fff;
		border-radius: 30px;
		color: #71472e;
		padding-top: 50px;
		padding-bottom: 29px;
		background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.15), rgba(231, 231, 231, 0.15));
		width: 72vw;

	}

	&__cardDescription {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-left: 1.5vw;
	}

	&__sequenceNumber {
		display: flex;
		justify-content: center;
		padding-top: 0.7vw;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		color: #fff;
		border: 1px solid #fff;
		margin-right: 3vw;
		font-size: 1.5rem;
		@include subtitleFont();
		font-weight: 800;
	}

	&__image {
		width: 142px;
		height: 142px;

	}

	&__description {
		margin-left: 4.4vw;
		@include descriptionFont();
		font-weight: bold;
		font-size: 1.5rem;
	}

	&__cardCompleted {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 40vw;
		margin-left: 16.5vw;
		margin-top: 24px;
		height: 111px;

		text-align: center;
		border-radius: 27px;
		color: #fff;
		font-weight: bold;
		background-image: linear-gradient(140deg, #deaf91, #d49b78);
	}

	&__completed {
		font-size: 1.8rem;
		@include titleFont();

	}

	&__descriptionCompleted {
		@include descriptionFont();
		font-size: 1.25rem;
		line-height: 1.6;
	}

	&__arrowDown {
		width: 30px;
		margin-left: calc(50% - 15px);
	}
}

/* Стили блока подписки */
.subscribe {
	background-image: url("../images/subscribe_image/background_subscribe.png");
	height: 625px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 125px;

	&__contentContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 771px;
		padding-top: 133px;
		gap: 30px;
	}

	&__title {
		font-size: 2.2rem;
		@include titleFont();
		color: #fff;
	}

	&__subtitle {
		font-size: 1.5rem;
		@include subtitleFont();
		color: #fff;
		line-height: 34px;
	}

	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 30px;
	}

	&__input {
		max-width: 400px;
		min-width: 260px;
		width: 29.3vw;
		height: 45px;
		border-radius: 24px;
		border: 1px solid $colorSelectSite;
		padding-left: 25px;
	}

	&__input::placeholder {
		font-size: 0.8rem;
		color: #989898;
	}

	&__btnSubmit {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 217px;
		height: 45px;
		border-radius: 24px;
		border: 1px solid $colorSelectSite;
		color: $colorSelectSite;
		@include descriptionFont();
		background-color: #fff;
		transition: all 0.2s ease-out;
	}

	&__btnSubmit:hover {
		border: none;
		background-color: #000;
		color: #fff;
		cursor: pointer;
	}
}

/* Футер */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	background-color: #ededed42;

	&__logo {
		width: 74px;
		height: 75px;
		background-size: cover;
		margin-right: 4.8vw;
		transition: all 0.2s ease-in;
	}

	&__logo:hover {
		opacity: 0.7;
	}

	&__menuWrupper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 3.5vw;
		border-left: 1px solid #000;
		height: 120px;
	}

	&__navMenu {
		height: 1rem;
		display: flex;
		align-items: center;
		gap: 1.4vw;
	}

	&__linkPage {
		@include subtitleFont();
		font-size: 0.75rem;
	}

	&__linkPage:hover {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid;
		border-image: linear-gradient(to right, #fff, #FB3A61, #fff) 47% 0%;
	}

	&__author {
		font-size: 0.75rem;
		@include descriptionFont();
	}

	&__additionInfo {
		margin-left: 182px;

		&_social {
			display: flex;
			gap: 0.65vw;
		}

		&_email {
			margin-top: 17px;
			font-size: 0.75rem;
			@include descriptionFont();
		}
	}

	&__socialImage {
		transition: all 0.2s ease-in;
	}

	&__socialImage:hover {
		opacity: 0.7;
	}
}

/* Страница каталога */
.catalog {
	margin-top: 86px;
	display: flex;
	gap: 1.75vw;

	&__productSelection {
		width: 80%;
	}

	&__titleContainer {
		display: flex;
		align-items: center;
		width: 200px;
		height: 23px;
		margin-left: calc(50% - 100px);
		margin-bottom: 31px;
	}

	&__title {
		border-right: 1px solid #000;
		padding-right: 10px;
		@include descriptionFont();

	}

	&__date {
		padding-left: 10px;

		@include descriptionFont();
	}

	/* Стили формы для отправки заказа */
	&__form {
		display: flex;
		flex-direction: column;
		width: 22.1vw;
		gap: 14px;
		margin-top: 74px;

		&_description textarea {
			min-width: 160px;
			max-width: 390px;
			min-height: 24px;
			max-height: 244px;
			margin-top: 5px;
			border: 1px solid $colorSelectSite;
			border-radius: 15px 15px 0px 15px;
			padding: 8px;

		}

		&_article input {
			width: 210px;
		}

		&_page input {
			width: 51px;
		}

		&_quantity input {
			width: 51px;
		}

		&_orderButton {
			padding: 23px 46px;
			border-radius: 24px;
			background: linear-gradient(180deg, #fb3a61, #99394c, #500010);
			color: #fff;
			border: none;
			transition: all 0.2s ease;
		}

		&_orderButton:hover {
			cursor: pointer;
			opacity: 0.8;
		}

		&_orderButtonClose {
			transition: all 0.2s ease;
		}
		&_orderButtonCloseActive {
			position: absolute;
			bottom: 10px;
			right: 10px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: $colorSelectSite;
			background-image: url("../images/image_catalogPage_button/buttonListCreateOrder.svg");
			background-position: center;
			background-size: contain;
			border: none;
		}
		&_orderButtonClose:hover {
			background-color: #000;
		}
	}
}

.formFont {
	font-size: 1.25rem;
	@include descriptionFont();
}

.formInputStyle {
	border: 1px solid $colorSelectSite;
	border-radius: 15px;
	padding-left: 5px;
	margin-left: 7px;
	height: 33px;
}

/* Стили корзины заказов */
.orders {
	display: flex;
	flex-direction: column;
	gap: 35px;
	margin-top: 112px;

	&__title {
		margin-left: 0.8vw;
		font-size: 1.5rem;
		@include titleFont();
	}

	&__container {
		width: 100%;
	}

	&__orderProduct {
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4vw;
		@include descriptionFont();
	}

	&__orderProductColor {
		background-color: $colorSelectSite;
		color: #fff;
	}

	&__orderProductGrey {
		background-color: #f8f8f8;
	}

	&__quantity {
		display: flex;
		gap: 8px;

		&_count {
			display: flex;
			align-items: center;
			gap: 5px;
		}

		&_countSubtract {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			border-radius: 12px 3px 3px 12px;
			transition: all 0.2s ease;
		}

		&_countColor {
			border: 1px solid #fff;
			background-color: $colorSelectSite;
			color: #fff;
		}

		&_countBlack {
			border: 1px solid #000;
			background-color: #f8f8f8;
			color: #000;
		}

		&_countResultBlack {
			border: 1px solid #000;
			background-color: #f8f8f8;
			color: #000;
		}

		&_countResultColor {
			border: 1px solid #fff;
			background-color: $colorSelectSite;
			color: #fff;
		}

		&_countResult {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;

		}

		&_countAdd {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			border-radius: 3px 12px 12px 3px;
			transition: all 0.2s ease;
		}

		&_countSubtract:hover,
		&_countAdd:hover {
			color: #000;
			background-color: #fff;
			border: 1px solid #000;
			cursor: pointer;
		}
	}

	&__quantity_countColor:hover {
		color: #000;
		background-color: #fff;
		border: 1px solid #000;
		cursor: pointer;
	}

	&__quantity_countBlack:hover {
		color: $colorSelectSite;
		border: 1px solid $colorSelectSite;
		cursor: pointer;
	}

	&__priceContainer {
		display: flex;
		gap: 2px;
		align-items: center;
		width: 85px;
	}

	&__priceCurrency {
		width: 6px;
		height: 12px;
	}

	&__deleteProduct {
		width: 26px;
		height: 26px;
		border-radius: 50%;
		transition: all 0.2s ease;
	}

	&__deleteProductColor {
		border: 1px solid #fff;
		background-color: $colorSelectSite;
		color: #fff;
	}

	&__deleteProductGrey {
		border: 1px solid #00000027;
		background-color: #f8f8f8;
		color: #00000027;
	}

	&__deleteProduct:hover {
		border: 1px solid #000;
		color: #000;
		cursor: pointer;
	}

	&__costShipping {
		display: flex;
		gap: 41vw;
		align-items: center;
	}

	&__cost {
		margin-left: 0.8vw;
		font-size: 1.5rem;
		@include titleFont();
	}

	&__shippingOrder {
		padding: 23px 46px;
		border-radius: 24px;
		background: linear-gradient(180deg, #fb3a61, #99394c, #500010);
		color: #fff;
		border: none;
		transition: all 0.2s ease;
	}

	&__shippingOrder:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	&__defaultOrderBlock {
		display: none;
		align-items: center;
		justify-content: center;
		border: 1px dashed #b6b6b6;
		height: 300px;
		color: #b6b6b6;

	}

	&__defaultOrderBlock p {
		font-size: 1.5rem;
		@include subtitleFont();
	}
}

.account {
	display: flex;
	flex-direction: column;
	margin-top: 112px;
	margin-bottom: 50px;
	margin-left: 12vw;
	gap: 38px;
	width: 76vw;

	&__title {
		font-size: 1.5rem;
		@include titleFont();
		font-weight: 700;
	}

	&__selectionLine {
		display: flex;
		gap: 9px;
		position: relative;

		&_entrance {
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid #000;
			padding-bottom: 10px;
			@include subtitleFont();
			background: none;
			;
		}

		&_registration {
			@include subtitleFont();
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid $colorSelectSite;
			background: none;
			padding-bottom: 10px;

		}

		&_entrance:hover,
		&_registration:hover {
			cursor: pointer;
			opacity: 0.8;
		}
	}

	&__selectionLine:after {
		display: block;
		content: '';
		width: 76vw;
		height: 1px;
		background-color: $colorSelectSite;
		position: absolute;
		top: 28px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 38px;

		&_email {
			width: 33vw;
			height: 56px;
			border: 1px solid $colorSelectSite;
			border-radius: 15px;
		}

		&_password {
			width: 33vw;
			height: 56px;
			border: 1px solid $colorSelectSite;
			border-radius: 15px;
		}

		&_email::placeholder,
		&_password::placeholder {
			@include descriptionFont();
			color: #adadad;
			font-size: 0.8rem;
			padding-left: 29px;
		}
	}

	&__forgotPassword {
		color: #000;
	}

	&__buttonEntrance {
		width: 194px;
		height: 65px;
		background-color: #fff;
		border: 1px solid $colorSelectSite;
		border-radius: 24px;
		color: $colorSelectSite;
		margin-top: 18px;
	}
}


/* Убираем стрелки в input типе number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Адаптив на планшет */
@media (max-width: 1230px) {
	.centerContainer {
		margin-left: 0vw;
		width: 100vw;
	}

	.head {
		z-index: 100;
		justify-content: flex-end;
		padding-right: 33px;
		gap: 38.5vw;

		&__logo {
			position: absolute;
			left: calc(50% - (34px / 2));
			top: 10px;
			order: 0;
		}

		&__nav-menu {
			display: none;
			padding-top: 50px;
			background-color: #fff;
			justify-content: flex-start;
			opacity: 1;
			flex-wrap: wrap;
			align-items: center;
			flex-direction: column;
			width: 30vw;
			height: 1000px;
			gap: 35px;

			&_menuLiningAdaptive {
				display: flex;
				align-items: flex-start;
				width: 37px;
				height: 28px;
				background-color: #fff;
				z-index: 999;
				position: absolute;
				top: 13.5px;
				left: 33px;
				order: -1;
			}

			&_btnClose {
				display: flex;
				justify-content: center;
				align-items: center;
				border: none;
				background-color: #fff;
				margin-top: 0px;
				margin-left: 0px;
				border-radius: 0;
				width: 37px;
				height: 28px;
				transition: all 0.1s ease-out;
				gap: 5.5px;
			}

			&_btnClose-centerLine {
				content: '';
				width: 20px;
				height: var(--heightCloseLine);
				background-color: var(--btnCloseCenterLineColor);

			}

			&_btnClose-centerLine:after {
				display: block;
				content: '';
				width: 20px;
				position: var(--lineCenterPosition);
				top: var(--menuCenterLineHoverMarginBottom);
				height: var(--heightCloseLine);
				background-color: var(--btnCloseLineColor);
				transform: var(--afterBtnClose);
			}

			&_btnClose-centerLine:before {
				display: block;
				content: '';
				width: 20px;
				position: var(--lineCenterPosition);
				top: var(--menuCenterLineHoverMarginTop);
				height: var(--heightCloseLine);
				background-color: var(--btnCloseLineColor);
				transform: var(--beforeBtnClose);
			}
		}

		&__nav-menu a {
			display: flex;
			justify-content: center;
			padding-bottom: 5px;
			width: 20vw;
			border-bottom: 1px solid;
			border-image: linear-gradient(to right, #fff, #FB3A61, #fff) 47% 0%;
		}

		&__userFunctions {
			order: 1;
		}
	}

	/* Адаптив слайдера */
	.slider {

		&__cardContent {

			&_title {
				line-height: 38px;
			}
		}

		&__cardButton {
			font-size: 0.8rem;
			font-weight: 500;
		}
	}


	/* Адаптив распродажи */
	.discounted {
		&__moreContainer {
			padding-left: 3.3vw;
		}

		&__cardContainer,
		&__cardContainerStock {
			justify-content: flex-start;
			padding-left: 16%;
		}

	}

	/* Адаптив инструкции */
	.manual {
		margin-top: 100px;

		&__title {
			font-size: 1.5rem;
		}

		&__sequenceNumber {
			width: 4vw;
			height: 4vw;
			font-size: 1.2rem;
		}

		&__image {
			width: 8.8vw;
			height: 8.8vw;
		}

		&__description {
			font-size: 1rem;
		}

		&__completed {
			font-size: 1.4rem;
		}

		&__descriptionCompleted {
			font-size: 1rem;
		}

		&__arrowDown {
			width: 1.9vw;
			margin-left: 49%;
		}
	}

	/* Адаптив каталога */
	.catalog {
		justify-content: center;
		gap: 0;

		&__productSelection {
			width: 100%;
		}

		&__form {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100vw;
			margin-top: 0;
			background-color: #fff;
			border: 1px dashed $colorSelectSite;
			padding: 10px;
			z-index: 500;

			&_orderButton {
				padding: 8px 26px;
				height: 51px;
				font-size: 0.8rem;
			}

			&_orderButtonClose {
				position: absolute;
				right: 0px;
				height: 100%;
				width: 38px;
				background-color: #bababa;
				color: #fff;
				border: none;
			}
		}
	}

	/* Адаптив подписки */
	.subscribe {
		margin-top: 16vw;

		&__contentContainer {
			width: 100%;
		}

		&__subtitle {
			padding-left: 3vw;
			padding-right: 3vw;
		}
	}

	.footer {
		&__logo {
			margin-right: 6.8vw;
		}

		&__menuWrupper {
			justify-content: flex-start;
			padding-left: 22.5vw;
		}

		&__additionInfo {
			margin-left: 16.3vw;
		}

		&__navMenu {
			flex-direction: column;
		}
	}

}

/* Дополнительный адаптив слайдера */
@media (max-width: 780px) {
	* {
		font-size: 0.8rem;
	}

	.sliderWrupper {
		height: 466px;
		margin-top: 32px;
	}

	.slider {
		&__imageNew {
			width: 185px;
			height: 50px;
		}

		&__imageHit {
			width: 74px;
			height: 62px;
		}

		&__imagesContainer {
			height: 380px;

		}

		&__contentCenter {
			top: 58px;
			left: 10%;
		}

		&__cardContent {
			padding-top: 30px;
			margin-left: 14vw;

			&_title {
				font-size: 1.5rem;
			}
		}

		&__cardProduct {
			height: 380px;
		}

		&__cardButton {
			padding: 18px;
			border-radius: 24px;
			letter-spacing: 3px;
			font-size: 0.8rem;
			font-weight: 500;
		}

		&__inputsContainer {
			margin-top: 20px;
		}

		&__inputActive {
			width: 16px;
			height: 16px;
		}

		&__inputDeactive {
			width: 16px;
			height: 16px;
		}
	}


	/* Дополнительный адаптив распродажи */
	.discounted {
		margin-top: 40px;

		&__cardContainer,
		&__cardContainerStock {
			font-size: 1rem;
		}

		&__moreContainer {
			padding-bottom: 12px;
		}

		&__watchMore {
			width: 35px;
			height: 35px;
		}

		&__card {
			width: 205px;
		}

		&__photoProduct {

			&_favourites {
				width: 26px;
				height: 26px;
			}

			&_stock {
				width: 35px;
				height: 35px;
			}
		}

		&__cardArticul b {
			font-size: 1rem;
		}

		&__addBasket {
			width: 188px;
			height: 47px;
		}
	}

	.oldPrice:after {
		width: 48px;
		top: 9px;
	}

	.currency {
		height: 15px;
	}

	.currencyGrey {
		width: 14px;
		height: 14px;
	}

	.catalog {
		&__form {
			&_orderButton {
				height: 36px;
			}
		}
	}

	.footer {
		&__logo {
			margin-right: 4.8vw;
			width: 42px;
			height: 41px;
		}

		&__menuWrupper {
			justify-content: flex-start;
			padding-left: 13.5vw;
		}

		&__additionInfo {
			margin-left: 12.3vw;
		}

	}
}

/* Дополнительно на контент слайдера */
@media (max-width: 530px) {
	.slider {

		&__cardContent {
			margin-left: 29vw;
			color: #fff;
		}

		&__cardContent_title {
			line-height: 28px;
		}

		&__contentCenter {
			color: #000;
			margin-left: 10vw;
		}
	}


	/* Дополнительный адаптив инструкции */
	.manual {


		&__title {
			font-size: 1.2rem;
		}

		&__sequenceNumber {
			font-size: 0.9rem;
		}

		&__description {
			font-size: 0.8rem;
		}

		&.manual__cardCompleted {
			height: 90px;
		}

		&__completed {
			font-size: 1.1rem;
		}

		&__descriptionCompleted {
			font-size: 0.8rem;
		}

	}

	/* Дополнительный адаптив подписки */
	.subscribe {
		background-position: right;

		&__contentContainer {
			gap: 3vw;
			padding-top: 55vw;
		}

		&__btnSubmit {
			font-size: 1rem;
		}
	}

}

/* Адаптив на мобильный */
@media (min-width: 375px) and (max-width: 425px) {
	.head {
		&__userFunctions {
			gap: 1.65vw;
		}
	}

	.slider {
		&__cardButton {
			padding: 10px;
			border-radius: 15px;
		}

	}

	.manual {
		&__translucentBackground {
			padding-top: 4.46vw;
			padding-bottom: 4.1vw;
		}

		&__descriptionContainer {
			padding-top: 4vw;
			padding-bottom: 4vw;
		}
	}

	.footer {
		background-color: #c0c0c0;
		flex-direction: column;
		height: 265px;

		&__logo {
			display: none;
		}

		&__menuWrupper {
			padding-left: 0;
			border: none;
			height: 140px;
		}

		&__navMenu {
			gap: 10px;
		}

		&__linkPage {
			font-size: 1rem;
		}

		&__additionInfo {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: 0;

			&_social {
				gap: 1.65vw;
			}

			&_email {
				font-size: 0.8rem;
			}
		}

		&__author {
			margin-top: 5px;
		}
	}
}